.hero h1 {
  color: whitesmoke;
}

.hero {
  background-image: url(/hero.png);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shadow {
  box-shadow: 0 4.5px 4px rgba(0, 0, 0, 0.075), 0 3.5px 3px rgba(0, 0, 0, 0.055);
}

.linha-separadora {
  height: 1px;
  background-color: #000;
}
